@model PhotoPostData
@{
    Layout = "_Layout";
    int i = 0;
}
<p>select categories:</p>
<form asp-action="PostPhoto" enctype="multipart/form-data" method="post">
    @foreach (var filter in Model.Filters)
    {
        <input type="hidden" asp-for="@Model.Filters[i].Category" value="@Model.Filters[i].Category" />
            <label asp-for="@Model.Filters[i].Active" class="col-form-label">@Model.Filters[i].Category:</label>
            <input asp-for="@Model.Filters[i].Active" />

        i = i + 1;

    }
    <div class="form-group">
        <label asp-for="Description" class="col-form-label"></label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Photo" class="col-form-label"></label>
        <input asp-for="Photo" class="form-control" accept="image/*" />
    </div>
    <div>
        <div>
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>